
.school-name
	font-size: 18px

.pillbox
	margin 15px 0

.pill.active
	background-color $light
	color: white

.table.rooms.border
	input
		border none
		width 100%
		height 100%

.room
	.name
		padding-left: 10px
