.bar
	@extends .row
	min-height 30px
	background-color $dark
	>.title
		@extends .fill
		padding 5px 10px
		color white
		font-weight bold
	>i.fa
		color white

button
	padding 5px

.pill
	display inline
	border-radius	4px
	border 1px solid $light
	padding 5px
	margin-right 2px
	&.active
		background-color $light


.panel
	@extends .column
	border 1px solid $dark
	>.header
		// border-bottom 1px solid white
		@extends .bar
		>.title
			@extends .fill
	>.sub-header
		padding 10px
		// border-bottom 1px solid $dark

	>.body
		overflow-y auto
		position relative
		@extends .fill
		padding 10px

	>.footer
		@extends .row
		padding 5px
		text-align center
		color white
		background-color $dark

.table
	>.header
		@extends .row
		border-bottom 1px solid #6fb3f7
		.col
			@extends .center-v
			font-weight bold
			text-align: center
	>.row
		border-bottom 1px solid #ddd
		&:last-child
			border-bottom: none
		>.name, >.title
			padding-left 10px
	>.row, >.header
		>.col
			@extends .center-v
			border-right 1px solid $light
			&:last-child
				border-right none

// table
// 	border: 1px solid $medium
// 	border-collapse collapse
// 	tr
// 		th
// 			font-weight: normal
// 			text-align: inherit
// 			padding 5px
// 			border-right 1px solid $light
// 			&:last-child
// 				border-right none
//
// 		td
// 			padding: 0px
// 			margin 0
// 			border: 1px solid $light

.list
	@extends .column
	overflow-y auto
	.item
		@extends .row, .center-v
		&.border
			border none
			border-bottom 1px solid $light
			&:last-child
				border-bottom none
			&[ng-click]:hover:not(.disabled)
				background-color $light
		.title
			@extends .fill
			padding 10px


.middle
	margin 10px auto
	width 500px
	text-align: center

.form-group
	label
		margin 10px 0 2px 0
		font-size: 12px

.error
	padding: 10px
	color: red
	border 1px solid red
	margin: 10px 0

.section.header
	padding 10px 0 5px 0
	border-bottom: 1px solid $light

.btn
	display: inline-block
	padding 10px
	border 1px solid $light
	background-color $light
	border-radius 4px

i.fa.social-icon, .social-icon
	border: 1px solid $light
	border-radius: 4px;
	padding: 10px;
	width: 50px;
	height 50px
	margin-left 2px

.button
	padding 10px 20px
	border 1px solid $medium
	background-color $dark
	color white
	text-align center
	border-radius 4px
	&.disabled
		opacity 0.5
	&.hover:hover
		background-color $medium

.ngdialog.ngdialog-theme-default
	padding-bottom: 0;
	padding-top: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;

	.ngdialog-content
		width inherit
		min-width 450px
