.school-client
	.menu
		margin 10px 0
		border-bottom: 1px solid black

	.active
		background-color $light
		color white

	.quantity
		padding 5px
		border 1px solid black
		width: 32px;
		height: 32px;
		border-radius: 4px;
		text-align center

	.order-person
		padding: 5px;
		border: 1px solid #ccc;
		margin-bottom 2px
		.order-person-name
			border-bottom: 1px solid #ccc;
			padding-bottom: 5px;
			margin-bottom: 5px;

	.item-price
		width: 50px;
		text-align: right

	.item-quantity
		width: 50px
		text-align: left

	.category-item
		border-bottom: 1px solid#ccc;
		margin-bottom: 2px;
		padding-bottom: 4px;

		.more,.less
			border: 1px solid #3696f7;
			background-color: #007af4;
			color: #fff;
			text-align: center;
			border-radius: 4px;
