h2 Delivery
div Based on your location and order, a delivery charge of
div ${{deliveryCost}} will be applied to your total.
.space
.button.hover(ng-click="continue()") OK, Continue
.space
.button.hover(ng-click="pickup()") Change to pick-up
