.menu
	.category
		padding 10px
		border 1px solid #ddd

	.menu-name
		font-size: 18px
		font-weight bold


	table.items
		margin-left 10px

	button.new-item
		margin-left 13px

	.no-items
		margin-left: 13px;
		padding: 10px;
		background-color: #eee;

	.no-categories
		margin-left: 13px;
		padding: 10px;
		background-color: #eee;
