.panel(style="height: 100%")
	.header
		.title Administrator Login
	.body
		.form
			.row
				.col.w100 Username:
				.col: input(ng-model="username")
			.space
			.row
				.col.w100 Password:
				.col: input(type='password', ng-model="password")
			.space
			.row
				.col.w100
				.col: .button(ng-click="signIn()") Sign-in
