.edit-option
	&.panel
		overflow visible
		.body
			overflow visible
			overflow-y visible
	.no-choices.row
		text-align center
		color #999
	.single-default
		.label
			padding 5px

	.choice.row
		overflow visible

	.choice-image-icon
		margin: 0
		padding: 0
		height: 30px
		width: 40px
		margin-bottom: -6px
		border 1px solid $light
		margin-right 2px

	.choice-image-zoom
		width 300px
		height 200px
		position absolute
		left -340px
		top -100px
		z-index 10000
		border 1px solid $light
		background-color white
